# Preliminaries

In [34]:
import pandas as pd

In [35]:
csvs_path = 'https://github.com/jacubero/SDG/raw/main/datasets/'

# Codes

In [36]:
df_codes = pd.read_csv(csvs_path+'codes.csv', engine='python')
df_codes.rename(columns={'alpha-3': 'Country Code ISO3'}, inplace=True)
df_codes

,name,alpha-2,Country Code ISO3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [37]:
def map_figtn(alpha: str) -> str:
   base_path = '/flags/'
   path = base_path + 'tn_' + str.lower(str(alpha)) + '-flag.gif'
   
   return path

In [38]:
df_codes['image']=df_codes.apply(lambda row: map_figtn(row["alpha-2"]), axis=1)
df_codes

,name,alpha-2,Country Code ISO3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,image
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN,/flags/tn_af-flag.gif
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN,/flags/tn_ax-flag.gif
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN,/flags/tn_al-flag.gif
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN,/flags/tn_dz-flag.gif
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN,/flags/tn_as-flag.gif
...,...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN,/flags/tn_wf-flag.gif
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN,/flags/tn_eh-flag.gif
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN,/flags/tn_ye-flag.gif
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,/flags/tn_zm-flag.gif
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,/flags/tn_zw-flag.gif

## 2021

In [39]:
df_data2021 = pd.read_csv(csvs_path+'data2021.csv')

In [40]:
df_sdg_spill = pd.merge(df_data2021[['Country Code ISO3','Country','2021 SDG Index Score','2021 SDG Index Rank','Spillover Score (0-100)','Regions used for the SDR']].head(193), df_codes[['Country Code ISO3','image']], how="left", on="Country Code ISO3")
df_sdg_spill

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Spillover Score (0-100),Regions used for the SDR,image
0,AFG,Afghanistan,53.933312,137.0,99.344000,E. Europe & C. Asia,/flags/tn_af-flag.gif
1,AGO,Angola,50.296134,154.0,97.022200,Africa,/flags/tn_ao-flag.gif
2,ALB,Albania,71.021858,64.0,94.337556,E. Europe & C. Asia,/flags/tn_al-flag.gif
3,AND,Andorra,NaN,NaN,NaN,E. Europe & C. Asia,/flags/tn_ad-flag.gif
4,ARE,United Arab Emirates,70.169932,71.0,38.819636,MENA,/flags/tn_ae-flag.gif
...,...,...,...,...,...,...,...
188,WSM,Samoa,NaN,NaN,NaN,Oceania,/flags/tn_ws-flag.gif
189,YEM,"Yemen, Rep.",52.863291,145.0,99.023200,MENA,/flags/tn_ye-flag.gif
190,ZAF,South Africa,63.741676,107.0,88.560300,Africa,/flags/tn_za-flag.gif
191,ZMB,Zambia,53.391375,141.0,98.332000,Africa,/flags/tn_zm-flag.gif
192,ZWE,Zimbabwe,58.663602,125.0,98.083333,Africa,/flags/tn_zw-flag.gif

In [41]:
df_sdg_spill.sort_values(by=['2021 SDG Index Rank'], inplace=True)
df_sdg_spill.reset_index(drop=True)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Spillover Score (0-100),Regions used for the SDR,image
0,FIN,Finland,85.901163,1.0,69.842727,OECD,/flags/tn_fi-flag.gif
1,SWE,Sweden,85.613602,2.0,67.093636,OECD,/flags/tn_se-flag.gif
2,DNK,Denmark,84.860522,3.0,60.508818,OECD,/flags/tn_dk-flag.gif
3,DEU,Germany,82.481795,4.0,60.374182,OECD,/flags/tn_de-flag.gif
4,BEL,Belgium,82.190174,5.0,61.969727,OECD,/flags/tn_be-flag.gif
...,...,...,...,...,...,...,...
188,TLS,Timor-Leste,NaN,NaN,NaN,East & South Asia,/flags/tn_tl-flag.gif
189,TON,Tonga,NaN,NaN,NaN,Oceania,/flags/tn_to-flag.gif
190,TUV,Tuvalu,NaN,NaN,NaN,Oceania,/flags/tn_tv-flag.gif
191,VCT,St. Vincent and the Grenadines,NaN,NaN,NaN,LAC,/flags/tn_vc-flag.gif
192,WSM,Samoa,NaN,NaN,NaN,Oceania,/flags/tn_ws-flag.gif

In [42]:
Lines = [".. list-table:: All regions\n", "   :widths: 25 50 25\n", "   :header-rows: 1\n", "   :stub-columns: 1\n", "\n", "   * - Rank\n", "     - Country\n", "     - Score\n"]

for index, row in df_sdg_spill.iterrows():
  Lines.append("   * - " + "{:.0f}".format(row['2021 SDG Index Rank']) +"\n")
  Lines.append("     - .. figure:: " + row['image'] +"\n")
  Lines.append("          :height: 50px\n")
  Lines.append("          :width: 50px\n")
  Lines.append("       " + str(row['Country']) + "\n")
  Lines.append("     - " + "{:.2f}".format(row['2021 SDG Index Score']) +"\n")

with open('sdgindex2021.rst', 'w') as writefile:
    for line in Lines:
        writefile.write(line)

In [43]:
df_sdg_spill.sort_values(by=['Spillover Score (0-100)'], ascending=False, inplace=True)
df_sdg_spill.reset_index(drop=True)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Spillover Score (0-100),Regions used for the SDR,image
0,MMR,Myanmar,64.947216,101.0,99.986800,East & South Asia,/flags/tn_mm-flag.gif
1,SDN,Sudan,49.484347,157.0,99.986286,Africa,/flags/tn_sd-flag.gif
2,SOM,Somalia,45.610944,162.0,99.963444,Africa,/flags/tn_so-flag.gif
3,SSD,South Sudan,38.900296,164.0,99.939333,Africa,/flags/tn_ss-flag.gif
4,TCD,Chad,40.904317,163.0,99.819889,Africa,/flags/tn_td-flag.gif
...,...,...,...,...,...,...,...
188,TLS,Timor-Leste,NaN,NaN,NaN,East & South Asia,/flags/tn_tl-flag.gif
189,TON,Tonga,NaN,NaN,NaN,Oceania,/flags/tn_to-flag.gif
190,TUV,Tuvalu,NaN,NaN,NaN,Oceania,/flags/tn_tv-flag.gif
191,VCT,St. Vincent and the Grenadines,NaN,NaN,NaN,LAC,/flags/tn_vc-flag.gif
192,WSM,Samoa,NaN,NaN,NaN,Oceania,/flags/tn_ws-flag.gif

In [44]:
Lines = [".. list-table:: All regions\n", "   :widths: 25 50 25\n", "   :header-rows: 1\n", "   :stub-columns: 1\n", "\n", "   * - Rank\n", "     - Country\n", "     - Score\n"]

i=1
for index, row in df_sdg_spill.iterrows():
  Lines.append("   * - " + str(i) +"\n")
  Lines.append("     - .. figure:: " + row['image'] +"\n")
  Lines.append("          :height: 50px\n")
  Lines.append("          :width: 50px\n")
  Lines.append("       " + str(row['Country']) + "\n")
  Lines.append("     - " + "{:.2f}".format(row['Spillover Score (0-100)']) +"\n")
  i +=1

with open('spillover2021.rst', 'w') as writefile:
    for line in Lines:
        writefile.write(line)

## 2020

## 2019

## 2018

## 2017

## 2016